.logo {
  /* Same as .dark */
  color: rgb(51, 44, 92);
  margin: 0.125rem;
}

.logo:hover {
  /* Same as .primary */
  color: rgb(137, 118, 253);
  text-decoration: none;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.image {
  display: block;
  margin: 0.5rem;
  transition:
    color 0.3s,
    all 1s;
}

.text {
  transition:
    color 0.3s,
    all 1s;
  white-space: nowrap;
}

.text .primary {
  color: rgb(137, 118, 253);
}

/* Sizes */
.small.image {
  height: 64px;
  width: 64px;
}
.small.text {
  font-size: 1.2rem;
  font-weight: 700;
}

.medium.image {
  height: 96px;
  width: 96px;
}
.text.medium {
  font-size: 1.4rem;
  font-weight: 700;
}

.large.image {
  width: 128px;
  height: 128px;
}
.large.text {
  font-size: 2.2rem;
  font-weight: 600;
}
